@model Modelo.Discente.Academico

@{
    Layout = "_LayoutIES";
}

@section styles {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
}

<body class="skin-black">
    <header class="header">
        <h1 class="mt-4 text-center"> Excluindo um departamento</h1>
        <br />
        @{ await Html.RenderPartialAsync("~/Areas/Discente/Views/Academico/_PartialDetailsContentCard.cshtml", Model);}
        <br />
        <div class="card-footer bg-info text-center text-white">
            <a asp-action="Index" class="btn btn-info">
                Retornar à listagem de acadêmicos
            </a>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirmationDelete">
                Remover acadêmico
            </button>
        </div>
        <div class="modal fade" id="modalConfirmationDelete" tabindex="-1"
             role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModal">
                            Remoção de Acadêmico
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Confirma a exclusão de acadêmico @Model.Nome.ToUpper() ??</p>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="AcademicoID" />
                            <input type="submit" value="Removar Acadêmico" class="btn btn-default" />
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Fechar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
